@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "./fonts.css";
@import "./modal.css";

.home-bg {
  background-color: #2c3034;
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bg-2c3034 {
  background-color: #2c3034;
}

thead.bg-000000 th {
  background-color: #000000 !important;
  font-weight: bold;
  color: #fff !important;
}

/* Alternate row colors */
.even-row {
  background-color: #f8f9fa;
}

.odd-row {
  background-color: white;
}

td button {
  margin-right: 5px;
}

.product-table {
  border: 1px solid #dee2e6;
  border-radius: 5px;
}

.cursor-pointer {
  cursor: pointer;
}